@font-face {
    font-family: myFontBold;
    src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

.button {
    font-family: myFontBold;
    font-size: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 180px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    margin: 30px 10px 10px 10px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}